<%
  current_user_ids = [User.current.id] + User.current.group_ids
  issues = Issue.visible.open
    .joins("inner join trackers on #{Tracker.table_name}.id = tracker_id")
    .where(["assigned_to_id in (?) and status_id <> #{Tracker.table_name}.default_status_id", current_user_ids])
    .order(created_on: :desc)
%>


<h3><%= l(:doing_issues) %> (<%= issues.count %>)</h3>

<%= render :partial => 'issues/list_simple', :locals => {:issues => issues.first(30)} %>
