<%
  current_user_ids = [User.current.id] + User.current.group_ids
  new_issues = Issue.visible.open
    .joins("inner join trackers on #{Tracker.table_name}.id = tracker_id")
    .where(["(assigned_to_id in (?) or assigned_to_id is null) and #{Issue.table_name}.created_on >= ? and status_id = #{Tracker.table_name}.default_status_id", current_user_ids, Date.today - 7])
    .order(created_on: :desc)
%>


<h3><%= l(:new_issues) %></h3>

<%= render :partial => 'issues/list_simple', :locals => {:issues => new_issues.first(10)} %>
